.shipment {
  width: 90%;
}

.shipment-top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid;
  padding-bottom: 2rem;
  padding-left: 1rem;
  background-color: #fff;
}

.shipment-star {
  cursor: pointer;
}

.shipment-check {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.shipment-save {
  background-color: #b8b5ff;
  border: 1px solid #b8b5ff;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.2rem 1rem;
}

.shipment-bottom,
.shipment-left,
.shipment-checklist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.shipment-bottom {
  background-color: #fff;
}

.shipment-left {
  cursor: pointer;
}

.shipment-dtr {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.shipment-right {
  background-color: #dfdfdf;
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.242);
  margin: 0 auto;
  width: 80%;
  height: 25vh;
}

.shipment-right-top {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

.shipment-right-top button {
  cursor: pointer;
}

.shipment-checklist {
  cursor: pointer;
}

.shipment-checklist-add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipment-fak {
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.2rem 1rem;
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.shipment-checklist-left {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.shipment-buttons {
  margin-top: 2rem;
  position: relative;
}

.shipment-btn-cont {
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.shipment-edit,
.shipment-delete {
  background-color: #7868e6;
  border: 1px solid;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 0.3rem 1rem;
  height: 2rem;
}

@media (max-width: 1200px) {
  .shipment {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .shipment {
    width: 200%;
  }
  .shipment-right {
    width: 100%;
  }
}

@media (max-width: 1000px) and (max-height: 500px) {
  .shipment {
    margin-top: 7rem;
  }
  .shipment-top {
    padding-bottom: .5rem;
  }
  .shipment-right {
    height: 40vh;
  }
}