.about,
.about-dark {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  height: 52vh;
}

.about {
  border-bottom: 1px solid;
}
.about-dark {
  border-bottom: 1px solid #fff;
}

.about__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.about__title__items,
.about__title__items-dark {
  width: 100%;
  text-align: center;
  padding: 0.2rem;
  animation: show-about-menus 0.5s linear;
}

.about__title__items {
  border-bottom: 1px solid;
}
.about__title__items-dark {
  border-bottom: 1px solid #fff;
}

.about__title__items span {
  cursor: default;
}

.selected {
  border: 1px solid rgba(132, 223, 76, 0.61);
  border-radius: 0.3rem;
  background-color: rgba(132, 223, 76, 0.61);
}
.selected-dark {
  border: 1px solid rgb(230, 121, 19);
  border-radius: 0.3rem;
  background-color: rgb(230, 121, 19);
}

.about__text,
.about__text-dark {
  overflow: auto;
}

.about__text {
  border-left: 1px solid;
}
.about__text-dark {
  border-left: 1px solid #fff;
}

.about__text__items,
.about__text__items-dark {
  padding: 1rem 1.5rem 1rem 3rem;
  animation: show-about-text 0.8s linear;
}

.about__text__items-dark > * {
  color: #fff;
}

@keyframes show-about-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-about-menus {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1000px) and (max-height: 500px) {
  .about,
  .about-dark {
    height: 65vh;
  }
}

@media (max-width: 500px) {
  .about,
  .about-dark {
    height: 75vh;
  }
  .about__text__items,
  .about__text__items-dark {
    padding: 1rem 1.5rem;
  }
}
