.main,
.main-dark {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #fff;
}
.main-dark {
  background-color: rgb(29, 29, 29);
}

.main-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  text-align: right;
  padding-right: 2rem;
}

.main-top__icon__left {
  position: absolute;
  top: 3rem;
  left: 2%;
}

.main-top__icon__start {
  width: 5rem;
  height: 5rem;
}

.main-top__message,
.main-top__message-dark {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 2rem;
}

.main-top__message-dark {
  color: #fff;
}

.main-top__text {
  margin-top: 2rem;
}

.main-top__text__cursor,
.main-top__text__cursor-dark {
  animation: cursor-blink 1s step-end infinite;
}
.main-top__text__cursor-dark {
  color: #fff;
}

.main-top__text__first {
  animation: show-text 0.4s linear;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}
